<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @picture.url %>
</p>

<p>
  <b>Place:</b>
  <%= @picture.place_id %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
