<div class="row">
  <h3 style="font-family: 'Trocchi', serif">Let's get those cool Vegan places out there!</h3> 
</div>
<div class="row">
      <%= form_for @place, :html => {:multipart => true} do |f| %>
        <fieldset>
          <legend style="font-family: 'Trocchi', serif;color:rgb(170, 59, 59)">Add a new Vegan Place</legend>
 
        <% if @place.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

          <ul>
            <% @place.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
         </div>
      <% end %>


      <div class="row">
        <div class="large-6 columns">

          <%= f.label :name %><br />
          <%= f.text_field :name, placeholder: "Name of the Place" %>
      
        </div>
        <div class="large-6 columns">
          <%= f.label :description %><br />
          <%= f.text_area :description, placeholder: "Describe it", :rows => "400" %>
        </div>
      </div>
  
      <div class="row">
        <div class="large-6 columns">
          <%= f.label :address %><br />
          <%= f.text_field :address, placeholder: "e.g: 100 Street Name, City, Zip" %>
        </div>
     
  
        <div class="large-6 columns">
          <%= f.label :website %><br />
          <%= f.text_field :website, placeholder: "e.g. www.vegan.com" %>
        </div>
     </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, placeholder: "+99 100 10010000" %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label :city_id %><br />
          <%= f.collection_select :city_id, City.all, :id, :name, {},{:class=>'button secondary', style:'font-weight:200'} %>
        </div>
        <div class="large-4 columns">
          <%= f.label :category_id %><br />
             <%= f.collection_select :category_id, Category.all, :id, :name, {},{:class=>'button secondary', style:'font-weight:200'} %>
        </div>


        <div class="large-4 columns">
          <%= f.label :cuisine_id %><br />
          <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name, {},{:class=>'button secondary', style:'font-weight:200'} %>
        </div>
      </div>
      

      <div class="row">
        <div class="large-1 columns">
          <%= f.label :picture %><br />
        </div>
        <div class="large-2 columns">
          <%= f.file_field :picture %>
        </div>
      
        <div class="large-2 columns">
          <%= f.label :remote_picture_url, "or Image URL" %>
        </div>
        <div class="large-7 columns">
          <%= f.text_field :remote_picture_url, placeholder:'http://', style:"margin-left:-40px" %>
        </div>
    </div>

  <% if false %>
    <%= f.fields_for :review do |review_form| %>
      <div class="row">
        <div class="large-4 columns">
          <%= review_form.label :score, "Rate" %><br />
          <%= review_form.number_field :score %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= review_form.label :comment, "Review" %><br />
          <%= review_form.text_area :comment %>
         </div>
      </div>

    <% end %>
  <%end %>  
<br/>
  <div class="row">
     <div class="large-3 columns ">
        <%= f.submit(class:'button prefix')%>
      </div>
    </div>
    <div class="row">
     <div class="large-3 columns "> 
        <%= link_to "Nah, Will do it later!", root_url, {class:'button prefix secondary', style:"font-weight:400"}  %>

     </div>





  </div>
<% end %>

</fieldset>
</div>
